@page "/"

<PageTitle>Home</PageTitle>

<TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary"
               OnClick="@SayHelloHandler">Say Hello</TelerikButton>

<p>@HelloString</p>

@code {
    private MarkupString HelloString { get; set; }

    private void SayHelloHandler()
    {
        var msg = $"Hello from <strong>Telerik UI for Blazor</strong> at {DateTime.Now:HH:mm:ss}!" +
                     "<br /> Now you can use C# to write front-end!";

        HelloString = new MarkupString(msg);
    }
}